<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar(nama='SIPEG')"></nav>
	<div class="container-fluid">
	<h2> Hello !</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h1>Sistem Informasi Kepegawaian</h1>
					<p> Selamat datang di Sistem Informasi Kepegawaian</p>
				</div>
				<form th:action="@{/pegawai/view}" method="GET">
						<div class="card-body">
							<h3 class="card-text">Lihat Data Pegawai berdasarkan NIP</h3>
							<label for="NIP"> Masukan Nomor Induk Pegawai</label>
							<input type="text" name="NIP" class="form-control" />
							<p></p>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
					<form th:action="@{/jabatan/view}" method="GET">
						<div class="card-body">
							<h3 class="card-text">Lihat Detail Jabatan</h3>
							<label for="id"> Pilih Jabatan</label>
								<select id="id" name="id">
				    				<option th:each="i : ${listJabatan}" th:value="${i.id}" th:text="${i.nama}" th:selected="${i==1}" />
								</select>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
					<form th:action="@{/pegawai/termuda-tertua}" method="GET">
						<div class="card-body">
							<h3 class="card-text">Lihat Pegawai Termuda dan Tertua</h3>
							<label for="id_instansi"> Pilih instansi</label>
								<select id="idInstansi" name="idInstansi">
				    				<option th:each="i : ${listInstansi}" th:value="${i.id}" th:text="${i.nama} +' - '+${i.provinsi.nama}" th:selected="${i==1}" />
								</select>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
			</div>
		</div>
	</div>
	</div>
</body>
</html>