<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ubah Jabatan</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/updateJabatan.css}">
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar(nama='Ubah Jabatan')"></nav>
	<h3 class="judul"> Update Data Pegawai</h3>
	<hr class="garis">
	<form th:action="@{/jabatan/ubah}" th:object="${jabatanBaru}" method ="POST">
		<div class="form-group">
			<label for="input1" class="label label-default">Nama *</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="input1" name ="nama" th:value="${jabatanLama.nama}" required>
				<input type="number" name="id" th:value="${jabatanLama.id}" hidden/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="input2" class="label label-default">Deskripsi *</label>
    		<div class="col-sm-5">
      			<input type="text" class="form-control" id="input2" name ="deskripsi" th:value="${jabatanLama.deskripsi}" required>
    			<p class="help"> Contoh: Pemimpin Bagian Gudang dan Inventori, Mitra Perusahaan, dll.</p>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="gajiPokok" class="label label-default">Gaji Pokok *</label>
    		<div class="col-sm-5">
      			<select id="gajiPokok" name="gajiPokok" required>
    				<option th:each="i : ${listGaji}" th:value="${i}" th:text="${i}" th:selected="${i==500000}" />
				</select>
    		</div>
    		<p class="helpGaji" th:text="'Gaji Sebelumnya: ' +${gaji}"></p>
  		</div>
  		<button type="submit" class="buttonSimpan"><i class="fa fa-check"> Simpan</i></button>
		<a class="btn btn-primary" id="buttonBatal" th:href="@{/}" onclick="confirmCancel()"><i class="fa fa-close"> Batal</i></a>
		<script>
		function confirmCancel(){
			if(confirm("Anda yakin membatalkannya?")){
				window.location.replace("/")
			}else{
				
			}
		}</script>
	</form>
</body>
</html>