<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar(nama='View Pegawai')"></nav>
		<br>
		<h3> Data Pegawai Termuda</h3>
		<hr>
		<h5 th:text="'NIP: '+${PegawaiTermuda.nip}"></h5>
		<h5 th:text="'Nama: '+${PegawaiTermuda.nama}"></h5>
		<h5 th:text="'Tempat Lahir: '+${PegawaiTermuda.tempatLahir}"></h5>
		<h5 th:text="'Tanggal Lahir: '+${PegawaiTermuda.tanggalLahir}"></h5>
		<h5 th:text="'Tahun Masuk: '+${PegawaiTermuda.tahunMasuk}"></h5>
		<h5 th:text="'Nama Instansi: '+${PegawaiTermuda.instansi.nama}+' - '+${PegawaiTermuda.instansi.provinsi.nama}"></h5>
		<h5>Jabatan: </h5>
		<hr>
		<ul><li th:each="jabatan : ${PegawaiTermuda.jabatan}">
			<span th:text="${jabatan.nama}"></span>
			</li></ul>
		<br>
		<h3> Data Pegawai Tertua</h3>
		<hr>
		<h5 th:text="'NIP: '+${PegawaiTertua.nip}"></h5>
		<h5 th:text="'Nama: '+${PegawaiTertua.nama}"></h5>
		<h5 th:text="'Tempat Lahir: '+${PegawaiTertua.tempatLahir}"></h5>
		<h5 th:text="'Tanggal Lahir: '+${PegawaiTertua.tanggalLahir}"></h5>
		<h5 th:text="'Tahun Masuk: '+${PegawaiTertua.tahunMasuk}"></h5>
		<h5 th:text="'Nama Instansi: '+${PegawaiTertua.instansi.nama}+' - '+${PegawaiTertua.instansi.provinsi.nama}"></h5>
		<h5>Jabatan: </h5>
		<hr>
		<ul><li th:each="jabatan : ${PegawaiTertua.jabatan}">
			<span th:text="${jabatan.nama}"></span>
			</li></ul>
		<hr>
	</body>
</html>